/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/
form input.error {
    border: solid 1px red;
}

form input.valid {
    border: solid 1px green;
}

/* 验证错误提示信息*/
form span.error {
    width: 200px;
    margin-left: 10px;
    color: Red;
}

div.sort-title, div.sort {
    display: inline;
}

.table-pagination {
    padding-top: 5px;
    border-top: 1px solid #ddd;
}

.toggle-search {
    display: none;
}

.searchTools {
    display: block;
}

@media ( max-width: 768px) {
    .toggle-search {
        display: block;
    }

    .searchTools {
        display: none;
    }

    /*.table-scrollable > .table-bordered > thead > tr:last-child > th, .table-scrollable > .table-bordered > tbody > tr:last-child > th, .table-scrollable > .table-bordered > tfoot > tr:last-child > th, .table-scrollable > .table-bordered > thead > tr:last-child > td, .table-scrollable > .table-bordered > tbody > tr:last-child > td, .table-scrollable > .table-bordered > tfoot > tr:last-child > td {*/
    /*border: 1px solid #ddd;*/
    /*}*/
    /*table.table-bordered tbody th, .flip-scroll table.table-bordered tbody td {*/
    /*border-left-width: 0;*/
    /*border-bottom-width: 1px;*/
    /*}*/
    table th {
        padding-bottom: 4px;
        min-width: 100px;
        text-align: center;
    }

    .datepicker-days table th {
        min-width: 0;
    }

    th.check, td.check {
        width: auto;
    }

    .table-pagination {
        border-top: 0;
    }

    table tr:last-child td {
        border-bottom: 1px solid #ddd !important;
    }
}

a.check {
    color: #000;
}

th.check, td.check {
    width: 50px;
    text-align: center;
}

.check input {
    margin-top: auto;

}

.treeContent {
    padding: 5px;
    background-color: #fff;
    border: solid 1px #cccccc;
}

#startload {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    opacity: 0.9;
    overflow: hidden;
    padding-top: 45%;
    background: #000 url("../img/loading5.gif") no-repeat 50% center;
}

table.table-condensed span {
    padding-right: 5px;
}

table.table-condensed .switch {
    text-align: center;
}

body {
    font-size: 13px;
}

.portlet {
    margin-bottom: 10px;
}

.table-striped tbody tr.active:nth-child(odd) td, .table-striped tbody tr.active:nth-child(odd) th {
    background-color: #A6D7E6;
}

.table tbody tr.active:hover td, .table tbody tr.active:hover th {
    background-color: #A6ABE6 !important;
}

.table-toolbar {
    padding: 5px 0;
}

.laydate_box, .laydate_box * {
    box-sizing: content-box;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: #2b3643;*/
    -webkit-border-radius: 10px;
    border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 0;
    background: rgba(230, 226, 212, 0.8);
    /*-webkit-box-shadow: #2b3643;*/
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.4);
}
